/***********home*********/
#home{
	height:820px;
}
.heading{
	font-size:1.7rem;
	
}
nav ul
{
  font-size:0.5rem;
margin-left:5px;  
display:flex;
flex-wrap:wrap;
}
/*******About************/
.subtitle{
	   font-size:40px;
   
   }
   .about-col-1, .about-col-2{
	   flex-basis:100%;
	   
   }
   .about-col-1{
	margin-bottom:30px;   
   }
   .about-col-2{
     margin-bottom:14px; 
   }
/*********portfolio***********/
.gallery img{
	width:250px;
	height:150px;
	margin:10px;
}
/**** contact***/
.input{
	
	width:70%;
	
}
#msg{
	width:20%;
	
}
#send{
	width:20%;
	
}